# Dependencies
node_modules/
/.pnp
.pnp.js

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
/build
/dist

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE and OS files
.idea/
.vscode/
.DS_Store
*.swp
*.swo


# Add these lines to your existing .gitignore
src/bookstore-firebase.json
*firebase*.json